/* Bakgrundsbild och toning för avsnitt */
.episode-background {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 60px 20px;
    margin-bottom: 20px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Svart toning med 60% opacitet */
    padding: 20px;
    border-radius: 10px;
}

.overlay h2,
.overlay p {
    color: #fff;
}

#sources {
    margin-top: 30px;
}

#sources ul {
    list-style-type: none;
    padding: 0;
}

#sources li {
    margin: 10px 0;
}

#sources a {
    text-decoration: none;
    color: #4CAF50;
}

#sources a:hover {
    text-decoration: underline;
}

/* Grundläggande länkstilar */
a {
    color: #4CAF50; /* Standardfärg för vanliga länkar */
    text-decoration: none; /* Tar bort understrykning */
    transition: color 0.3s; /* Smidig övergång för färgändringar */
}

a:hover {
    color: #333; /* Färg på länk när muspekaren hovrar över den */
    text-decoration: underline; /* Understrykning vid hovring */
}

a:visited {
    color: #8A2BE2; /* Färg för besökta länkar */
}

/* Specifik länkstil i overlay (t.ex. för avsnittsbeskrivningar) */
.overlay a {
    color: #FFD700; /* Gyllene färg för länkar i övertoningsdelen */
}

.overlay a:hover {
    color: #FF8C00; /* Mörkare färg för hovrade länkar i övertoningsdelen */
}

/* Specifik länkstil för källor */
.overlay ul li a {
    color: #00CED1; /* Turkos färg för källförteckningens länkar */
}

.overlay ul li a:hover {
    color: #20B2AA; /* Mörkare turkos färg för hovrade källänkar */
}

/* Specifik stil för sociala medie-ikoner */
.social-icon {
    text-decoration: none;
    color: #6C191C; /* Bibehåll den vita färgen för ikoner */
    margin: 0 5px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #453121; /* Ljusare färg på hovring för ikoner */
}