/* CSS Grid för Avsnittssidan */
.episode-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}


.episode-grid .episode {
    display: block;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}

.episode-grid .episode:hover {
    transform: translateY(-5px);
}

.episode-grid .episode img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.episode-grid .episode h3 {
    margin: 10px;
}

.episode-grid .episode p {
    margin: 0 10px 10px 10px;
}
.episode-grid .episode a {
    color: #333;
    text-decoration: none;
}

/* Styr kategori-knapparna */
.category-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.category-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.category-buttons button:hover {
    background-color: #45a049;
}