/* Grundinställningar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: aliceblue;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4CAF50;
}

nav a:visited {
    color:#4CAF50;
}

nav a.active {
    font-weight: bold;
    color: #333;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Sociala Medieikoner */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    text-decoration: none;
    color: #4CAF50;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}
.social-icon:visited {
    color:#fff;
}

.social-icon:hover {
    color: #333;
}


footer {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Sprider ut innehållet mellan vänster och höger */
    align-items: center; /* Vertikal centrering */
    max-width: 1200px; /* Maximal bredd för fotens innehåll */
    margin: 0 auto; /* Centrerar innehållet horisontellt */
    padding: 0 20px; /* Inre marginal för att ge lite andrum till innehållet */
}

.social-icons {
    display: flex;
}

.social-icon {
    text-decoration: none;
    color: white;
    margin: 0 5px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ddd;
}