@font-face {
    font-family: 'Foglihten';
    src: url('../fonts/FoglihtenNo07.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Grundinställningar */
body {
    font-family: 'Foglihten', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

body p {
    color: #453121;
}

body h1 {
    color: #453121
}

body h2 {
    color: #6C191C;
}

body h3 {
    color: #453121;
}

header {
    /*background-color: #303d2fd8;*/
    color: #453121;
    padding: 10px 0;
    text-align: center;
}
/* Header styles*/
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-image {
    width: 200px; /* Adjust the width according to your needs */
    height: auto;
    margin: 0 20px; /* Adjust the spacing between the image and the title */
}
.left-image {
    margin-right: 10px;
}

.right-image {
    margin-left: 10px;
}

header h1 {
    font-size: xx-large;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #6C191C;
}

nav a:visited {
    color:#6C191C;
}

nav a.active {
    font-weight: bold;
    color: #333;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Sociala Medieikoner */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    text-decoration: none;
    color: #4CAF50;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}
.social-icon:visited {
    color:#fff;
}

.social-icon:hover {
    color: #333;
}


footer {
    /*background-color: #4CAF50;*/
    color: #fff;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Sprider ut innehållet mellan vänster och höger */
    align-items: center; /* Vertikal centrering */
    max-width: 1200px; /* Maximal bredd för fotens innehåll */
    margin: 0 auto; /* Centrerar innehållet horisontellt */
    padding: 0 20px; /* Inre marginal för att ge lite andrum till innehållet */
}

.social-icons {
    display: flex;
}

.social-icon {
    text-decoration: none;
    color: #6C191C;
    margin: 0 5px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #453121;
}

.social-icon:visited {
    color: #6C191C;
}